//@import 'vars';
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  min-width: 320px;
  overflow-x: hidden;
  //color: $text-color;
  //@extend %display-regular;

}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}
.container {
  // max-width: 1255px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
}
.section {
}
.btn{}
