// %gilroy-lite {
//   font-family: 'Gilroy', sans-serif;
//   font-weight: 300;
// }
%gilroy-regular {
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
}

// %gilroy-bold {
//   font-family: 'Gilroy', sans-serif;
//   font-weight: 700;
// }
// %gilroy-black {
//   font-family: 'Gilroy', serif;
//   font-weight: 900;
// }
// %gilroy {
//   font-family: 'Gilroy', serif;
//   font-weight: 800;
// }
$minWidth: 320px;
$maxWidth: 1440; // ширина всего полотна
$maxWidthContainer: 1270; // контейнер 1240 + 30px
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
$fontSize: 16px;
$orangeColor: #e89f71;
$grayColor: #898989;
$darkGrayColor: #616161;
$mainColor: #3a3a3a;
// $bg-color: #edf7fa;
